*{
    text-align: center;
}
.header, .hero, .body, .bar, .footer {
    background-color: darkblue;
}

.box {
    margin:10px 0;
    min-height: 80px;
    background-color: red;
    font-size: 30px;
    color: white;
}

.red{
    background-color: green;
}
.five{
    background-color: blue;
}
